In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv('IMDB-Movie-Data.csv')

### 1. Display top 10 rows of the dataset

In [ ]:
data.head(10) #if we write data.head() it will show us the first 5 rows by default

### 2. Display last 10 rows of the dataset

In [ ]:
data.tail(10) #we can also check from the output how many entries we have in our dataset (here we have 1000)

### 3. Find shape of our dataset (number of rows and number of columns)

In [ ]:
data.shape #shape is from pandas dataframe

In [ ]:
print('Number of Rows available in our dataset:',data.shape[0])
print('Number of Columns available in our dataset:',data.shape[1])

### 4. Getting information about our dataset (like total number rows, total number of columns, datatypes of each column and memory requirement)

In [ ]:
data.info()

### 4. Check missing (null) values in the dataset

In [ ]:
print('Any missing value?',data.isnull().values.any()) #answer is true which means that our dataset contains some missing values

In [ ]:
data.isnull() #we have to check which columns have missing values

In [ ]:
data.isnull().sum() #we want to find sum of true values

In [ ]:
sns.heatmap(data.isnull()) #we can also visualize the missing values using seaborn's heatmap, the missing values are with the lighter color

In [ ]:
per_missing = data.isnull().sum()*100/len(data)
print(per_missing) #we see that around 13% values are missing in the 'Revenue' column and 6.4% in the 'Metascore' column

### 6. Drop all the missing values

In [ ]:
data.dropna(axis=0)

### 7. Check for duplicate data

In [ ]:
dup_data=data.duplicated().any()

In [ ]:
print('There are duplicated values:', dup_data) #false means we have no duplicated data!!

In [ ]:
data = data.drop_duplicates()
print(data)

### 8. Get overall statistics about the dataframe

In [ ]:
data.describe() #we have the statistics about our dataset (this by default is about all numerical columns only, otherwise we have the command bellow.)

In [ ]:
data.describe(include='all')

### 9. Display title of the movie having runtime >= 180 minutes

In [ ]:
print(data.columns) #or just data.columns

In [ ]:
data[data['Runtime (Minutes)'] >= 180] #we don't need to write print

In [ ]:
data[data['Runtime (Minutes)'] >= 180] ['Title'] #because we ONLYneed the title of the movie, not all the information! we can also write print(data[data['Runtime (Minutes)'] >= 180] ['Title'])

### 10. In which year there was the highest average voting?

In [ ]:
data.columns #no need to write print because we are using jupyter!

In [ ]:
data.groupby('Year') ['Votes'].mean()

In [ ]:
data.groupby('Year') ['Votes'].mean().sort_values(ascending=False) #because by default it sorts our data in ascending order. (from the output we see that highest voting was in year 2012)

In [ ]:
sns.barplot(x='Year', y='Votes', data=data) #we can visualise this using seaborn's barplot! 
plt.title('Votes by Year') #we're decorating the graph with a title
plt.show #we can use barplots to see the relationships between technical data and at least one numerical variable

### 11. In which year there was the highest average revenue?

In [ ]:
data.columns

In [ ]:
data.groupby('Year') ['Revenue (Millions)'].mean().sort_values(ascending=False) #similar to step 10

In [ ]:
sns.barplot(x='Year', y='Revenue (Millions)', data=data) #we can visualise this using seaborn's barplot! 
plt.title('Revenue (millions) by Year') #we're decorating the graph with a title
plt.show #from the barplot we can see that the highest revenue was in year 2009

### 12. Find the average rating for each director

In [ ]:
data.columns #to know which column we need to work with! as we can see, we need to work with 'Director' and 'Rating' columnns!

In [ ]:
data.groupby('Director')['Rating'].mean() #we need to find the average so we use mean() from pandas dataframe

In [ ]:
data.groupby('Director')['Rating'].mean().sort_values(ascending=False) #if we want to sort in ascending or descending order!

### 13.Display top 10 lengthy movies title and runtime

In [ ]:
 data.columns

In [ ]:
data.nlargest(10,'Runtime (Minutes)')

In [ ]:
data.nlargest(10,'Runtime (Minutes)')[['Title','Runtime (Minutes)']]

In [ ]:
top10_len=data.nlargest(10,'Runtime (Minutes)')[['Title','Runtime (Minutes)']]\
.set_index('Title')

In [ ]:
top10_len

In [ ]:
sns.barplot(x='Runtime (Minutes)', y=top10_len.index, data=top10_len)#we can visualise it by using barplot

### 14. Display number of movies per year

In [ ]:
data.columns

In [ ]:
data['Year'].value_counts()

In [ ]:
sns.countplot(x='Year', data=data) #lets visualize this by using seaborn's countplot

In [ ]:
sns.countplot(x='Year', data=data) #lets decorate this graph
plt.title('Number of movies per year')
plt.show

### 15.Find most popular movie title (highest revenue)

In [ ]:
data.columns

In [ ]:
data['Revenue (Millions)'].max()

In [ ]:
data['Revenue (Millions)'].max()==data['Revenue (Millions)'] #we want to compare the maximum value we found with other maximum values from Revenue column

In [ ]:
data[data['Revenue (Millions)'].max()==data['Revenue (Millions)']]

In [ ]:
data[data['Revenue (Millions)'].max()==data['Revenue (Millions)']] ['Title'] #we only want the movie title

### 16. Display top 10 highest rated movie title and its directors DOESNT WORK!!!

In [ ]:
data.columns #first we display the column names (we see that we need to work with the 'Rating' column)

In [ ]:
top10_len=data.nlargest(10,'Rating')[['Title','Rating','Director']]\
.set_index('Title') # we add this \ to change line

In [ ]:
top10_len

In [ ]:
sns.barplot(x='Rating', y=top10_len.index, data=top10_len) #lets visualize it

In [ ]:
sns.barplot(x='Rating', y=top10_len.index, data=top10_len, hue='Director') #we are using hue parameter because we need the director as well

In [ ]:
print(top10_len.columns)

### 17. Display top 10 highest revenue movie titles

In [ ]:
data.columns

In [ ]:
data.nlargest(10,'Revenue (Millions)')

In [ ]:
data.nlargest(10,'Revenue (Millions)') ['Title']

In [ ]:
data.nlargest(10,'Revenue (Millions)') [['Title', 'Revenue (Millions)']]

In [ ]:
top_10=data.nlargest(10,'Revenue (Millions)') [['Title', 'Revenue (Millions)']].\
set_index('Title')

In [ ]:
top_10

In [ ]:
sns.barplot (x='Revenue (Millions)', y=top_10.index, data=top_10)

In [ ]:
sns.barplot (x='Revenue (Millions)', y=top_10.index, data=top_10)
plt.title('Top 10 highest revenue movie titles') #lets add title to the graph

### 18. Find average rating of movies year wise

In [ ]:
data.columns

In [ ]:
data.groupby('Year')['Rating'].mean().sort_values(ascending=False)

### 19. Does rating affect the revenue?

In [ ]:
sns.scatterplot (x='Rating', y='Revenue (Millions)', data=data)

### 20. Classify movies based on ratings (Excellent, good and average)

In [ ]:
data.columns

In [ ]:
def rating(rating):
    if rating>=7.0:
        return "Excellent"
    elif rating>=6.0:
        return "Good"
    else:
        return "Average"

In [ ]:
data['rating_cat']=data['Rating'].apply(rating)

In [ ]:
data.head()

### 21. Count number of action movies

In [ ]:
data.columns

In [ ]:
data['Genre'].dtype

In [ ]:
data['Genre'].str.contains('Action', case=False)

In [ ]:
data[data['Genre'].str.contains('Action', case=False)]

In [ ]:
len(data[data['Genre'].str.contains('Action', case=False)])

### 22. Find unique values from genre

In [ ]:
data.columns

In [ ]:
data['Genre']

In [ ]:
list1=[]
for value in data['Genre']:
    list1.append(value.split(','))

In [ ]:
list1

In [ ]:
one_d=[]
for item in list1:
    for item1 in item:
        one_d.append(item1)

In [ ]:
one_d

In [ ]:
uni_list=[] #we want to find the unique values in the 'Genre' column
for item in one_d:
    if item not in uni_list:
        uni_list.append(item)

In [ ]:
uni_list

In [ ]:
len(uni_list) #we have 20 unique values in Genre column

### 23. How many films of each genre were made?

In [ ]:
one_d=[]
for item in list1:
    for item1 in item:
        one_d.append(item1)

In [ ]:
one_d

In [ ]:
from collections import Counter

In [ ]:
Counter(one_d)